<div class="row">
    <div class="col-lg-6">
        <h4>Expense Form</h4>
        <form [formGroup]="expenseForm" (submit)="onSubmit()">
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" placeholder="price" formControlName="price">
                @if(expenseForm.get('price')?.hasError('required') && expenseForm.get('price')?.touched){
                <span class="text-danger">Price is required</span>
                }
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="title" formControlName="title">
                @if(expenseForm.get('title')?.hasError('required') && expenseForm.get('title')?.touched){
                    <span class="text-danger">title is required</span>
                    }
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
    <div class="col-lg-6"></div>
</div>